<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#3CB371; font-family: arial;"
>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav" style="font:bold">
      <a class="nav-link" style="cursor: pointer;" routerLink="/home">Home</a>
      <a class="nav-link" style="cursor: pointer;" routerLink="/store"
        >Online Store</a
      >
      <a class="nav-link" style="cursor: pointer;" routerLink="/contact"
        >Contact Us</a
      >
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Cart
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <br />
          <button class="btn-success" routerLink="/checkout">
            Checkout
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid padding" style="font-family: arial;">
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <div class="text-center">
        <br />
        <br />
        <br />
        <h3>Leave Us A Message</h3>
        <br />
      </div>
      <form>
        <div class="form-group">
          <label for="nameInp">Name</label>
          <input
            type="text"
            class="form-control"
            id="nameInp"
            placeholder="name"
          />
        </div>
        <div class="form-group">
          <label for="mailInp">Email address</label>
          <input
            type="email"
            class="form-control"
            id="mailInp"
            placeholder="name@example.com"
          />
        </div>
        <br />
        <div class="form-group">
          <label for="textInp">Add A Message</label>
          <textarea
            class="form-control"
            id="textInp"
            rows="3"
            placeholder="your message"
          ></textarea>
        </div>
        <br />
        <br />
        <div class="text-center">
          <button style="width: 260px; height: 60px;" class="btn btn-info">
            Submit
          </button>
        </div>
      </form>
    </div>
    <br />
    <br />
    <div class="col-lg-6">
      <div class="responsive" style=" position: relative; overflow: hidden;">
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="text-center">
          <h2>We Provide Premium Quality Cannabis</h2>
          <br />
          <h2>To Our Dear Customers All Across</h2>
          <br />
          <h2>Canada!</h2>
          <br />
          <br />
          <img src="/assets/weedflag.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<div class="text-center" style="background-color: #3CB371;">
  <br />
  <h5>
    © 2017 Top Shelf Edibles
  </h5>
  <br />
</div>
