<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#3CB371; font-family: arial;"
>
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <a class="nav-link" style="cursor: pointer;">Home <span class="sr-only">(current)</span></a>
    <a class="nav-link" style="cursor: pointer;">Online Store</a>
    <a class="nav-link" style="cursor: pointer;">Contact Us</a>
    <a class="nav-link" style="cursor: pointer;">About</a>
  </div>
</nav>
<div class="container-fluid padding" style="font-family: arial;">
  <div>
    <h4></h4>
  </div>
</div>
<div class="container-fluid padding" style="font-family: arial;">
  <div>
    <h5>
      © 2017 Top Shelf Edibles
    </h5>
  </div>
</div>
