<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#3CB371; font-family: arial;"
>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav" style="font:bold">
      <a class="nav-link" style="cursor: pointer;" routerLink="/home">Home</a>
      <a class="nav-link" style="cursor: pointer;" routerLink="/store"
        >Online Store</a
      >
      <a class="nav-link" style="cursor: pointer;" routerLink="/contact"
        >Contact Us</a
      >
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Your Items
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid padding" style="font-family: arial;">
  <div>
    <div class="col-lg-8" style="margin: auto;">
      <div class="text-center">
        <br />
        <br />
        <br />
        <h3>
          Congrats!
        </h3>
        <br />
        <h3>
          Make your payment directly into our bank account. First, Go in your
          bank online account under Interact Transfer Send Money & under ADD NEW
          Recipient, then add TopShelf, nothing else please or payment will not
          be accepted, same for message box.
        </h3>
        <br />
        <h3>
          Second, please enter the exact amount that is on your invoice, for the
          payment transfer amount.
        </h3>
        <br />
        <h3>
          Thirdly use, What is the Order Number as the payment security
          question, and answer with your invoice order number received at
          checkout. If your bank require 6 digits security answer use order in
          front of the numbers like this orderxxxxx
        </h3>
        <br />
        <h3>
          Please remember to change your security answer when you re-order. Your
          order won’t be shipped until the funds have cleared in our account.
        </h3>
        <br />
        <br />
        <br>
        <br>
        <div style="font: italic;">
          <h3 >
            e-transfer your bank payments to: cqgfunds@gmail.com
          </h3>
        </div>
        <br />
        <br>
        <br>
        <br />
        <h3>
          PS. No Tangerine Payment Will Be Accepted.
        </h3>
        <br />
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
<div class="container-fluid padding" style="font-family: arial;">
  <div>
    <h5>
      © 2017 Top Shelf Edibles
    </h5>
  </div>
</div>
