<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#3CB371; font-family: arial;"
>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav" style="font:bold">
      <a class="nav-link" style="cursor: pointer;" routerLink="/home">Home</a>
      <a class="nav-link" style="cursor: pointer;" routerLink="/store"
        >Online Store</a
      >
      <a class="nav-link" style="cursor: pointer;" routerLink="/contact"
        >Contact Us</a
      >
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Cart
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">name</th>
                <th scope="col">quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <br />
          <button class="btn-success" routerLink="/checkout">
            Checkout
          </button>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid padding">
  <br />
  <br />
  <br />
  <br />
  <div class="row welcome text-center">
    <div class="col-12">
      <h1
        style="font: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 70px;"
      >
        The Original Supplier
      </h1>
      <br />
      <hr
        style="height:3px;border:none;color:#333;background-color:#333; width: 700px;"
      />
      <br />
      <h3
        style="font: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 35px;"
      >
        For The Sweetest Moments
      </h3>
      <br />
      <br />
      <br />
    </div>
  </div>
  <div class="container-fluid padding">
    <div class="row padding text-center">
      <div class="col-md-4">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/plpink.png"
            style="height: 400px;"
          />
          <div class="card-body">
            <div class="card-title">
              <br />
              <h4>Platinum Pink</h4>
              <br />
              <h5>$9/Gram</h5>
              <br />
              <br />
              <button class="button">1g</button>
              <button class="button">2g</button>
              <button class="button">3.5g</button>
              <button class="button">7g</button>
              <button class="button">14g</button>
              <button class="button">28g</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/ssherbet.png"
            style="height: 400px;"
          />
          <div class="card-body">
            <div class="card-title">
              <br />
              <h4>Sunset Sherbet</h4>
              <br />
              <h5>$9/Gram</h5>
              <br />
              <br />
              <button class="button">1g</button>
              <button class="button">2g</button>
              <button class="button">3.5g</button>
              <button class="button">7g</button>
              <button class="button">14g</button>
              <button class="button">28g</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            class="card-img-top"
            src="assets/pbubba.png"
            style="height: 400px;"
          />
          <div class="card-body">
            <div class="card-title">
              <br />
              <h4>Pre-Bubba 98</h4>
              <br />
              <h5>$9/Gram</h5>
              <br />
              <br />
              <button class="button">1g</button>
              <button class="button">2g</button>
              <button class="button">3.5g</button>
              <button class="button">7g</button>
              <button class="button">14g</button>
              <button class="button">28g</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="text-center" style="cursor: pointer;">
    <h2>View More Of Our Selection >>></h2>
  </div>
  <br />
</div>
<div class="container-fluid padding" style="font-family: arial;">
  <div class="row welcome text-center">
    <div class="col-12">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <h1
        style="font: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 55px;"
      >
        The Most Potent
      </h1>
      <br />
      <hr
        style="height:3px;border:none;color:#333;background-color:#333; width: 500px;"
      />
      <br />
      <h4>Concentrates and Hash</h4>
    </div>
  </div>
</div>
<br />
<br />
<br />
<div class="container-fluid padding">
  <div class="row padding text-center">
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/whitewidow.png"
          style="height: 400px;"
        />
        <div class="card-body">
          <div class="card-title">
            <br />
            <h4>White Widow</h4>
            <br />
            <h5>$9/Gram</h5>
            <br />
            <div class="product-quantity">
              <input type="number" value="1" min="1" class="text-center" />
            </div>
            <br />
            <button
              class="btn-success"
              routerLink="/store"
              routerLinkActive="router-link-active"
            >
              Order Now
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/ogkush.png"
          style="height: 400px;"
        />
        <div class="card-body">
          <div class="card-title">
            <br />
            <h4>OG Kush</h4>
            <br />
            <h5>$9/Gram</h5>
            <br />
            <div class="product-quantity">
              <input type="number" value="1" min="1" class="text-center" />
            </div>
            <br />
            <button
              class="btn-success"
              routerLink="/store"
              routerLinkActive="router-link-active"
            >
              Order Now
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          class="card-img-top"
          src="assets/pinkkushsha.png"
          style="height: 400px;"
        />
        <div class="card-body">
          <div class="card-title">
            <br />
            <h4>Pink Kush</h4>
            <br />
            <h5>$9/Gram</h5>
            <br />
            <div class="product-quantity">
              <input type="number" value="1" min="1" class="text-center" />
            </div>
            <br />
            <button class="btn-success">
              Order Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="text-center" style="cursor: pointer;">
    <h2 routerLink="/store" routerLinkActive="router-link-active">
      View More Of Our Selection >>>
    </h2>
  </div>
  <div class="container-fluid padding" style="font-family: arial;">
    <div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <div
        class="container-fluid padding"
        style="font-family: Georgia, 'Times New Roman', Times, serif;"
      >
        <div class="text-center">
          <h2>
            "This is the most potent edible dispensary I have ever<br />
            experienced. The delivery was so fast and the quality is far<br />
            superior to all other brands I've tried. Definitely ordering larger
            quantities ASAP."
          </h2>
          <br />
          <h4>- Linda Grayson -</h4>
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="container-fluid padding" style="font-family: arial;">
    <div class="row padding">
      <br />
      <br />
      <br />
      <br />
      <br />
      <div
        class="col-md-12 col-lg-6"
        style="margin-left: 80px; font: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"
      >
        <div class="text-center">
          <h1>Best Price Guaranteed</h1>
          <hr
            style="height:3px;border:none;color:#333;background-color:#333; width: 400px;"
          />
          <br />
          <h5>QUALITY INGREDIENTS FROM ALL OVER THE WORLD</h5>
          <br />
          <br />
          <h6>
            When you order edibles online with us, we guarantee the lowest
            prices. We’re so confident that we have the lowest price that if you
            find an item of the same strain and grade currently offered for
            less, we’ll match that price! That’s why you should buy with us
            ASAP!
          </h6>
        </div>
      </div>
      <div>
        <div class="text-right">
          <div class="col-md-12">
            <div class="row" style="padding: 5px;">
              <img
                src="/assets/cookie.png"
                style="height: 400px; margin-left: 30px;"
              />
              <img
                src="/assets/chocolate.png"
                style="height: 400px; margin-left: 30px;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div
    class="container-fluid padding"
    style="font-family: arial; background-color: #C0C0C0;"
  >
    <div class="row padding">
      <div class="col-md-12 col-lg-6">
        <div class="text-center">
          <br />
          <br />
          <br />
          <h3>Leave Us A Message</h3>
          <br />
        </div>
        <form>
          <div class="form-group">
            <label for="nameInp">Name</label>
            <input
              type="text"
              class="form-control"
              id="nameInp"
              placeholder="name"
            />
          </div>
          <div class="form-group">
            <label for="mailInp">Email address</label>
            <input
              type="email"
              class="form-control"
              id="mailInp"
              placeholder="name@example.com"
            />
          </div>
          <br />
          <div>
            <label for="textInp">Add A Message</label>
            <textarea
              #ngform
              class="form-control"
              id="textInp"
              rows="3"
              placeholder="your message"
            ></textarea>
          </div>
          <br />
          <br />
          <div class="text-center">
            <button style="width: 260px; height: 60px;" class="btn btn-info">
              Submit
            </button>
          </div>
        </form>
      </div>
      <br />
      <br />
      <div class="col-lg-6">
        <div class="responsive" style=" position: relative; overflow: hidden;">
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="text-center">
            <h2>We Provide Premium Quality Cannabis</h2>
            <br />
            <h2>To Our Dear Customers All Across</h2>
            <br />
            <h2>Canada!</h2>
            <br />
            <br />
            <img src="/assets/weedflag.jpg" />
            <br />
            <br />
            <br />
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="container-fluid"
    style="background-color:#3CB371; font-family: arial;"
  >
    <div class="text-center">
      <br />
      <h5>
        © 2017 Top Shelf Edibles
      </h5>
      <br />
    </div>
  </div>
</div>
